<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= blog.title %></title>
    <style>
        .container-xl {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
        }  
        body{
            background-color: aliceblue;
        }


    </style>
</head>
<body >
    <%- include('./partials/nav') %>

    <div class="container-xl">

        <h1 class="blog-title"><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="100%" class="blog-image">
        <div class="lh-base">
        <div class="container font-family-sans-serif" style="white-space: pre-wrap; word-wrap: break-word;">
            <%= blog.body %>
        </div>
        </div>
        
    </div>
    <div class="container-xl">
        <img src="/<%= blog.createdBy.profileImageURL %>" width="15%" class="img-thumbnail">
        <%= blog.createdBy.firstName %> <%= blog.createdBy.lastName %>
    </div>
    <div class="container-xl">
        <h4>Comments</h4>
    </div>
    <div class="card">

        <form class="container-xl" action="/blog/comment/<%= blog._id %>" method="post">
            <div class="form-data">
                <textarea class="form-control"  name="content" id="content" style="height: 100px"></textarea>
            </div>
            <button class="btn btn-primary" style="margin-top: 10px;">Post</button>
        </form>

        <div class="container-xl">
            <% comments.forEach(comment => { %>
                <div class="card row" id="comment-card" style="padding: 10px;">
                    <div class="comment-content" style="height: 50px;">
                    <%= comment.content %>
                    </div>
                    <div class="commented-by" style="font-weight: 100; font-size: small; background-color: aliceblue;" >
                        <img src="/<%= comment.createdBy.profileImageURL %> " width="30px">
                        Commented by: @<%= comment.createdBy.username %>
                    </div>
                </div>
            <% }) %>
            
            
        </div>
    </div>

    <%- include('./partials/scripts') %>
</body>
    
</html>