<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <div class="mt-3">
    <% blogs.forEach(blog => { %>
    <div class="card" style="width: 18rem;">
        <h4><%= blog.title %></h4>
        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"> 
                <%= blog.body %>
            </p>
        </div>
        <a href="#" class="btn btn-primary">View</a>
    </div>
    <% }) %>
    </div>
    <%- include('./partials/scripts') %>
</body>
    
</html>